.infrastructure {
    background: var(--light);
}

.facility-grid {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 18px;
}

.facility-card {
    height: 350px;

    position: relative;

    overflow: hidden;
}

.facility-card img {
    height: 100%;

    object-fit: cover;

    transition: .5s;
}

.facility-card:hover img {
    transform: scale(1.08);
}

.facility-overlay {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    padding: 25px 18px 18px;

    color: white;

    background:
        linear-gradient(
            transparent,
            rgba(0,0,0,.9)
        );
}

.facility-overlay i {
    color: var(--primary);
    font-size: 24px;
}

.facility-overlay h3 {
    font-size: 17px;
}

.facility-overlay p {
    font-size: 11px;
    opacity: .85;
}


@media(max-width: 992px) {

    .facility-grid {
        grid-template-columns:
            repeat(2,1fr);
    }
}


@media(max-width: 768px) {

    .facility-grid {
        grid-template-columns: 1fr;
    }
}